.addreview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form{
    width: 50%;
}

.word{
    font-size: 20px;
}

textarea{
    height: 200px;
}

.area{
    padding-top: 20px
}
