.addreview {
    height: 100vh;
    width: 80%;
    float: right;
    margin-top: 7rem;
    padding: 2rem;
}
.form{
    width: 50%;
}

.word{
    font-size: 20px;
}

textarea{
    height: 200px;
}

.area{
    padding-top: 20px
}
